html{
    background:darkblue;
    
}
head{
    background: black;
}
body{
    background:lightblue;
    
    text-align: center;
    
}

h1{
    font-size=36px;
    border-color: black;
    font-style: italic;
    border: 1px;
    
}
h3{
    border: 2px;
    font-family: cursive;
}

